@import "tailwindcss";

:root {
  --background: #ffffff; /* white background */
  --foreground: #000000; /* black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}


body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-jakarta-sans), Arial, Helvetica, sans-serif;
}
